/* GIFT BASKET */

.bread-crumb-box{
    padding: 7%;
}

.bread-crumbs-bold {
    font-weight: 500;
}

.section-3__category {
    padding: 7%;
    padding-top: 0;
}

.gift-basket .section-6__info-box__image-box {
    background-image: url('../images/gavekurv_design.webp');
}

.section__giftbasket-wrapper {
    background-color: #465048;
    padding: 7%;
}

.section__giftbasket--titles {
    margin-bottom: 7%;
}

.section__giftbasket--titles h2,
.section__giftbasket--titles h3 {
    color: #fff;
}

.section__giftbasket--cards {
    display: flex;
    flex: row;
    gap: 5%;
}

.section__giftbasket--one {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    width: 60%;
    overflow: hidden;
}

.section__giftbasket--one__text-box,
.section__giftbasket--two__text-box {
    padding: 5%;
}

.section__giftbasket--one p {
    font-size: 16px;
}

.section__giftbasket--one img{
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #C0B283;
}

.section__giftbasket--two {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 4%;
}

.section__giftbasket--two p {
    font-size: 10px;
    line-height: normal;
}

.section__giftbasket--small {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    height: 50%;
}

.section__giftbasket--small img {
    height: 100%;
    object-fit: cover;
    
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid #C0B283;
}

.section-3__category__products {
    padding: 14% 7%;
}

.section-3__category__products-list-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-3__category__products-titles {
    margin-bottom: 30px;
}

.section__giftbasket--product {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    width: 48%;
    overflow: hidden;
    margin-bottom: 4%;
}

.section__giftbasket--product__text-box {
    padding: 5%;
}

.section__giftbasket--product p {
    font-size: 16px;
}

.section__giftbasket--product img{
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #C0B283;
}

@media only screen and (min-width: 1240px) {
    .bread-crumb-box {
        padding-bottom: 4%;
    }

    .section__giftbasket--product {
        width: 22%;
    }

    .section-3__category__products-list-wrapper {
        gap: 4%;
    }

    .section-3__category__products {
        padding: 7%;
    }

    .category .section-5__info-box__heading {
        background-color: #465048;
        border: 2px #C0B283 solid;
        border-radius: 7px;
        color: #fff;
        padding: 5%;
        margin: 0;
    }

    .section__giftbasket--one {
        width: 33%;
    }

    .section__giftbasket--cards {
        gap: 2%;
    }

    .section__giftbasket--small {
        height: 100%;
        width: 50%;
    }

    .section__giftbasket--two {
        display: flex;
        flex-direction: row;
        width: 66%;
        gap: 3%;
    }

    .section__giftbasket--two p {
        font-size: 16px;
        line-height: 28px;
    }

    .section__giftbasket-wrapper {
        background-color: #F1EDE6;
        padding: 7%;
    }

    .section__giftbasket--titles h2,
    .section__giftbasket--titles h3 {
        color: #465048;
    }
}