.contact:first-of-type {
    padding: 7%;
    padding-bottom: 20%;
}

.contact {
    padding: 20% 7%;
}

.contact .section-6__info-box__info {
    padding: 10% 7%;
}

.contact .section-6__info-box__card{
    background-color: #465048;
}

.contact .section-6__info-box__image-box {
    background-image: url('../images/liwira_butik.webp');
}

.contact .section-6__info-box__heading {
    color: #F1EDE6;
}

.contact .section-2__info-box{
    padding: 10% 7%;
}

.contact .section-6__info-box__text {
    color: #fff;
    margin-bottom: 0;
}

/* GOOGLE MAPS */

.section__map {
    padding: 0% 7% 20% 7%;
}

.section__map-wrapper {
    padding: 7%;
    border: 2px solid #C0B283;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
}

.section__map__titles {
    padding: 7% 0% 7% 0%;
}

.section__map__map-window {
    background-color: red;
    height: 300px;
    width: 100%;

    border: 2px solid #C0B283;
    border-radius: 7px;
}

.section__map__map-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.section__map__map-text p {
    font-size: 14px;
    margin-left: 10px;
}

.section__map__contact {
    padding: 10% 0% 10% 0%;
}

.section__map__contact--phone {
    display: flex;
    align-items: center;
}

.section__map__contact--mail {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.section__map__contact--phone a,
.section__map__contact--mail a {
    margin-left: 15px;
    font-size: 20px;
}

.section__map__opening-hours--title {
    padding-bottom: 3.5%;
}

.section__map__opening-hours--text {
    padding: 3.5% 0%;
}

.section-8__faq--contact {
    padding: 0% 7% 20% 7%;
}

/* CONTACT FORM */

.section__contact-form {
    width: 100%;
    height: 800px;
    margin-bottom: 20%;
}

@media only screen and (min-width: 768px) {
    .section__map__map-window {
        height: 350px;
    }
}

@media only screen and (min-width: 1240px) {
    .contact:first-of-type {
        padding-bottom: 10%;
    }

    .section__map-wrapper {
        padding: 4%;
    }

    .section__map__titles {
        padding: 0% 0% 4% 0%;
    }

    .section__map__map-window {
        height: 370px;
        width: 70%;
    }

    .section__map-info {
        display: flex;
    }

    .section__map__view {
        width: 70%;
        padding: 0%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__map-info-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 370px;
    }

    .section__map__contact--phone img,
    .section__map__contact--mail img {
        width: 30px;
    }

    .section__map__map-text {
        margin-top: 1%;
    }

    .section__map__contact {
        padding: 0% 0% 10% 0%;
    }

    .section__map__opening-hours--text:last-of-type {
        padding-bottom: 0
    }

    .section__map__opening-hours--text {
        font-size: 20px;
    }

    .section__map {
        padding-bottom: 10%;
    }

    .contact {
        padding: 0;
    }

    .section-8__faq--contact {
        padding: 0% 7% 10% 7%;
    }

    .section__contact-form {
        margin-bottom: 10%;
    }

}
