.contact:first-of-type {
    padding: 7%;
    padding-bottom: 20%;
}

.contact {
    padding: 20% 7%;
}

.contact .section-6__info-box__info {
    padding: 10% 7%;
}

.contact .section-6__info-box__card{
    background-color: #465048;
}

.contact .section-6__info-box__image-box {
    background-image: url('../images/liwira_butik.webp');
}

.contact .section-6__info-box__heading {
    color: #F1EDE6;
}

.contact .section-2__info-box{
    padding: 10% 7%;
}

.contact .section-6__info-box__text {
    color: #fff;
    margin-bottom: 0;
}

/* GOOGLE MAPS */

.section__map {
    padding: 0% 7% 20% 7%;
}

.section__map-wrapper {
    padding: 7%;
    border: 2px solid #C0B283;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
}

.section__map__titles {
    padding: 7% 0% 7% 0%;
}

.section__map__map-window {
    background-color: red;
    height: 300px;
    width: 100%;

    border: 2px solid #C0B283;
    border-radius: 7px;
}

.section__map__map-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.section__map__map-text p {
    font-size: 14px;
    margin-left: 10px;
}

.section__map__contact {
    padding: 10% 0% 10% 0%;
}

.section__map__contact--phone {
    display: flex;
    align-items: center;
}

.section__map__contact--mail {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.section__map__contact--phone a,
.section__map__contact--mail a {
    margin-left: 15px;
    font-size: 20px;
}

.section__map__opening-hours--title {
    padding-bottom: 3.5%;
}

.section__map__opening-hours--text {
    padding: 3.5% 0%;
}

.section-8__faq--contact {
    padding: 0% 7% 20% 7%;
}

/* CONTACT FORM */

.section__contact-form {
    padding: 0% 7% 20% 7%;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
}

.kontakt-content-wrapper {
    padding: 7%;
    border: 2px solid #C0B283;
    border-radius: 7px;
    width: 100%;
}
.kontakt-content-wrapper h2 {
    margin-bottom: 1rem;
}

.email__container input[type="email"] {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(200, 200, 200, 0.200);
    width: 100%; 
    padding: 10px;
    margin: auto;
    border: 2px solid #C0B283;
    border-radius: 7px; 
    font-size: 16px;
}

.email__container p {
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    
}
.email__container input[type="email"]::placeholder {
    font-style: italic;
}

.radios-tekst {
    margin-top: 30px;
    margin-bottom: 20px;
}

/*  Buttons og labels i kontaktformular styles herunder */

/* Skjuler standard layout på radioknapper */
.checkbox-radio {
    display: none;
}
/* Styling af labels generelt */
/* user select: none, gør at teksten ikke kan markeres */
.kontakt-content-wrapper .checkbox-label {
    cursor: pointer;
    position: relative;
    padding-left: 50px;
    user-select: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #465048;
}

.checkbox-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    margin-bottom: 45px;
}


/* Egen styling af radio-knapper */
.radio {
    position: absolute;
    left: 20px;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #666;
    border-radius: 7px;
    transition: background-color 0.5s, border-color 0.5s;
}
/* Når radio-knappen er valgt (der kan kun vælges én) */
input[type="radio"]:checked + .radio {
    background-color: #465048;
}
/* Flueben til valgt radio-knap */
input[type="radio"]:checked + .radio::after {
    content: '\2713'; /* Unicode flueben */
    color: white;
    font-size: 14px;
    position: absolute;
    left: 3px;
}
/* Hover-effekt for radio-knapper */
input[type="radio"]:not(:checked):hover + .radio,
input[type="radio"]:checked:hover + .radio {
    background-color: gray;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
    border: 2px solid #C0B283;
    border-radius: 7px;
    background-color: rgba(200, 200, 200, 0.2);
    font-family: "Montserrat", sans-serif;
    resize: none;
  }
  textarea::placeholder {
    font-style: italic;
    color: #666;
  }

.kontaktform-submit-btn-wrapper {
    display: flex;
    justify-content: center;
    padding: 7%;
}

.cta-btn:hover {
    cursor: pointer;
    background-color: #C0B283;
}



@media only screen and (min-width: 768px) {
    .section__map__map-window {
        height: 350px;
    }
}

@media only screen and (min-width: 1240px) {
    .contact:first-of-type {
        padding-bottom: 10%;
    }

    .section__map-wrapper {
        padding: 4%;
    }

    .section__map__titles {
        padding: 0% 0% 4% 0%;
    }

    .section__map__map-window {
        height: 370px;
        width: 70%;
    }

    .section__map-info {
        display: flex;
    }

    .section__map__view {
        width: 70%;
        padding: 0%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__map-info-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 370px;
    }

    .section__map__contact--phone img,
    .section__map__contact--mail img {
        width: 30px;
    }

    .section__map__map-text {
        margin-top: 1%;
    }

    .section__map__contact {
        padding: 0% 0% 10% 0%;
    }

    .section__map__opening-hours--text:last-of-type {
        padding-bottom: 0
    }

    .section__map__opening-hours--text {
        font-size: 20px;
    }

    .section__map {
        padding-bottom: 10%;
    }

    .contact {
        padding: 0;
    }

    .section-8__faq--contact {
        padding: 0% 7% 10% 7%;
    }

    .section__contact-form {
        margin-bottom: 10%;
    }

    .checkbox-wrapper {
        display: flex;
    }

}
