.bread-crumb-box{
    padding: 7%;
}

.bread-crumbs-bold {
    font-weight: 500;
}

/* FARS DAG */
.event .section-5__info-box__card {
    background-color: #465048;
    border: 2px solid #C0B283;
}

.event .section-5__info-box__heading {
    color: #F1EDE6;
    font-size: 100px; 
}

.event .section-5__info-box__subheading {
    color: #F1EDE6;
    margin-bottom: 2%;
}

.event .section-5__info-box__text {
    color: #F1EDE6;
}

.event .section-5__info-box__image-box {
    border-bottom: 2px solid #C0B283;
}

/* GAVEKURVE - KORT */
.section__giftbasket-wrapper {
    padding: 10% 7% 0% 7%;
}

.event {
    padding-top: 0%;
}

.section__giftbasket--titles {
    margin-bottom: 7%;
}

.section__giftbasket--cards {
    display: flex;
    flex: row;
    gap: 5%;
}

.section__giftbasket--one {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    width: 60%;
    overflow: hidden;
}

.section__giftbasket--one__text-box,
.section__giftbasket--two__text-box,
.section__giftbasket--two__text-box--2 {
    padding: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.section__giftbasket--two__text-box {
    border: 2px solid #C0B283;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 10%;
}

.section__giftbasket--two__text-box--2 {
    border: 2px solid #C0B283;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 0%;
}

.section__giftbasket--one p {
    font-size: 16px;
}

.section__giftbasket--one img{
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #C0B283;
}

.section__giftbasket--two {
    width: 35%;
}

.section__giftbasket--two p {
    font-size: 10px;
    line-height: normal;
}

.section__giftbasket--small {
    display: flex;
    flex-direction: column;
}

.section__giftbasket--small img {
    height: 75%;
    object-fit: cover;

    border: 2px solid #C0B283;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.event__flexbox {
    padding-bottom: 20%;
}

.section__giftbasket--small img {
    height: 250px;
}

@media only screen and (min-width: 768px) {
    /* HERO */

    .section__giftbasket--two__text-box p,
    .section__giftbasket--two__text-box--2 p {
        font-size: 14px;
        line-height: 24px;
    }

    .section__giftbasket--small img {
        height: 400px;
    }
}

@media only screen and (min-width: 1240px) {
    /* FARS DAG */
    .bread-crumb-box {
        display: none;
    }

    section.section-5__info-box.event {
        padding: 0;
        border-radius: 0px;
    }

    .event .section-5__info-box__card {
        background-color: #465048;
        border: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
    }

    .event .section-5__info-box__heading {
        color: #F1EDE6;
        font-size: 100px; 
    }

    .event .section-5__info-box__subheading {
        color: #F1EDE6;
        margin-bottom: 2%;
    }

    .event .section-5__info-box__text {
        color: #F1EDE6;
    }

    .event .section-5__info-box__image-box {
        border-bottom: 2px solid #C0B283;
        border-radius: 0;
    }

    /* GIFT BASKET */

    .event__flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
        padding: 5%;
        padding-top: 7%;
    }

    .section__giftbasket-wrapper {
        width: 47%;
        border: 2px solid #C0B283;
        border-radius: 7px;
        padding: 4% 2% 2% 2%;
        margin-bottom: 2%;
    }

    .section__giftbasket--titles h3 {
        font-size: 26px;
    }

    .section__giftbasket--one img {
        height: 600px;
    }

    .section__giftbasket--small img {
        height: 300px;
    }

    .gift-basket .section-4__design-din-kurv__info-box {
        padding-left: 7%;
        width: 94%;
    }
}