/*HERO*/
.about:first-of-type {
    padding: 7%;
    padding-bottom: 20%;
}

.about{
    padding: 0% 7% 20% 7%;
}

.about .section-6__info-box {
    padding: 0% 0% 10% 7%;
}

.about .section-6__info-box__card{
    background-color: #465048;
}

.about .section-6__info-box__heading {
    color: #F1EDE6;
}

.about .section-2__info-box{
    padding: 10% 7%;
}

/* FARS DAG */
.gift-basket .section-5__info-box__card {
    background-color: #465048;
    border: 2px solid #C0B283;
}

.gift-basket .section-5__info-box__heading {
    color: #F1EDE6;
    font-size: 100px; 
}

.gift-basket .section-5__info-box__subheading {
    color: #F1EDE6;
    margin-bottom: 2%;
}

.gift-basket .section-5__info-box__text {
    color: #F1EDE6;
}

.gift-basket .section-5__info-box__image-box {
    border-bottom: 2px solid #C0B283;
}

/* GAVEKURVE - KORT */
.section__giftbasket-wrapper {
    padding: 14% 7% 0% 7%;
}

.special {
    padding-top: 20%;
}

.special-2 {
    padding-bottom: 20%;
}

.section-5__info-box.gift-basket {
    padding-top: 0%;
}

.section__giftbasket--titles {
    margin-bottom: 7%;
}

.section__giftbasket--cards {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.section__giftbasket--one {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    width: 60%;
    overflow: hidden;
}

.section__giftbasket--one__text-box,
.section__giftbasket--two__text-box,
.section__giftbasket--two__text-box--2 {
    padding: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.section__giftbasket--two__text-box {
    border: 2px solid #C0B283;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 10%;
}

.section__giftbasket--two__text-box--2 {
    border: 2px solid #C0B283;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 0%;
}

.section__giftbasket--one p {
    font-size: 16px;
}

.section__giftbasket--one img{
    height: 300px;
    object-fit: cover;
    border-bottom: 2px solid #C0B283;
}

.section__giftbasket--two {
    width: 35%;
}

.section__giftbasket--two p {
    font-size: 10px;
    line-height: normal;
}

.section__giftbasket--small {
    display: flex;
    flex-direction: column;
}

.section__giftbasket--small img {
    height: 150px;
    object-fit: cover;

    border: 2px solid #C0B283;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.gift-basket__flexbox {
    padding-bottom: 20%;
}

@media only screen and (min-width: 768px) {
    /* HERO */

    .section__giftbasket--two__text-box p,
    .section__giftbasket--two__text-box--2 p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 1240px) {
    /* HERO */
      .about .section-5__info-box__card {
        padding: 0;
    }

    .about {
        padding: 7%;
    }

    .about:first-of-type {
        padding: 0;
    }
    
    .about .section-5__info-box__card {
        height: 500px;
    }

    .about .section-6__info-box__card {
        background-color: #fff;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .about .section-6__info-box__info {
        background-image: url('../images/baggrund_gavekurv.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        padding: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about .section-6__info-box__heading {
        opacity: 100%;
        color: #465048;
        font-size: 60px;
    }

    .about .section-6__info-box__card {
        display: block;
        height: 100%;
    }

    /* FARS DAG */
    section.section-5__info-box.gift-basket {
        padding: 0;
        border-radius: 0px;
    }

    .gift-basket .section-5__info-box__card {
        background-color: #465048;
        border: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
    }

    .gift-basket .section-5__info-box__heading {
        color: #F1EDE6;
        font-size: 100px; 
    }

    .gift-basket .section-5__info-box__subheading {
        color: #F1EDE6;
        margin-bottom: 2%;
    }

    .gift-basket .section-5__info-box__text {
        color: #F1EDE6;
    }

    .gift-basket .section-5__info-box__image-box {
        border-bottom: 2px solid #C0B283;
        border-radius: 0;
    }

      .section__giftbasket--one img{
    height: 500px;
    }

    .section__giftbasket--small img {
        height: 200px;
    }

    /* GIFT BASKET */

    .gift-basket__flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
        padding: 5%;
        padding-top: 7%;
    }

    .section__giftbasket-wrapper {
        width: 47%;
        border: 2px solid #C0B283;
        border-radius: 7px;
        padding: 4% 2% 2% 2%;
        margin-bottom: 2%;
    }

    .section__giftbasket--titles h3 {
        font-size: 26px;
    }

    .section__giftbasket--one img {
        height: 400px;
    }

    .section__giftbasket--small img {
        height: 200px;
    }

    .gift-basket .section-4__design-din-kurv__info-box {
        padding-left: 7%;
        width: 94%;
    }
}