
    /* FARS DAG */
.gift-basket .section-5__info-box__card{
    background-color: #465048;
    border: none;
    box-shadow: none;
    padding-top: 0%;
}
.gift-basket .section-5__info-box__heading {
    color: #F1EDE6;
    font-size: 100px; 
}
.gift-basket .section-5__info-box__subheading {
    color: #F1EDE6;
    margin-bottom: 2%;
}
.gift-basket .section-5__info-box__text {
    color: #F1EDE6;
}

.gift-basket .section-6__info-box__image-box {
    background-image: url('../images/gavekurv_design.webp');
}

.section__giftbasket-wrapper {
    padding: 7%;
}

.section__giftbasket--titles {
    margin-bottom: 7%;
}

.section__giftbasket--cards {
    display: flex;
    flex: row;
    gap: 5%;
}

.section__giftbasket--one {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    width: 60%;
    overflow: hidden;
}

.section__giftbasket--one__text-box,
.section__giftbasket--two__text-box {
    padding: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.section__giftbasket--one p {
    font-size: 16px;
}

.section__giftbasket--one img{
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #C0B283;
}

.section__giftbasket--two {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 4%;
}

.section__giftbasket--two p {
    font-size: 10px;
    line-height: normal;
}

.section__giftbasket--small {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    height: 47.5%;
}

.section__giftbasket--small img {
    height: 75%;
    object-fit: cover;
    
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid #C0B283;
}