/****** COLORS **********************/
/*
/* dusty_green: #465048;
/*
/* gold: #C0B283;
/*
/* cream: #F8EFE2;
/*
/* Bisque: #F1EDE6;
/*
/***********************************/

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 40px;
    color: #465048;
}

h2 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 24px;
  color: #465048;
}

h3{
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 20px;
  color: #465048;
}

p, a, .p{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    color: #465048;
    line-height: 24px;
}

.citat {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    color: #465048;
}

.faq {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 16px;
    color: #465048;
}

/* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* EVERYTHING THAT LEADS TO A NEW SITE WILL BE MADE AN ANCHOR-TAG, */
/* IF YOU NEED SOMETHING TO HAPPEN ON CURRENT SITE, USE A BUTTON-TAG */

.cta-btn {
    width: 50%;
    height: 50px;
    border-radius: 7px;
    background-color: #465048;

    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #F1EDE6;

    border: 2px solid #C0B283;
    padding: 12px;
    display: block;
    text-align: center;
}

.cta-btn.hvid {
        color:#465048;
        background-color: #F1EDE6;
}

/* HEADER */

header {
    width: 100%;
    background-color: #465048;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}

.header__logo-type {
    width: 130px;
}

.header__search-bar {
    width: 100%;
    height: 45px;
    display: flex;
}

.header__search-bar__input {
    background-color: #F1EDE6;
    height: 100%;
    width: 78%;
    border: 2px solid #C0B283;
    border-left: none;
    padding-left: 2%;
}

.header__search-bar__icon {
    background-color: #F8EFE2;
    border: 2px solid #C0B283;
    border-left: none;
    height: 100%;
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__bottom {
    height: 60px;
    background-color: #465048;
    border: 2px solid #C0B283;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.header__bottom ul {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom ul li a {
    color: #fff;
    text-decoration: none;
}

.header__bottom ul li a:hover {
    color: #C0B283;
    text-decoration: underline;
}

/* SECTION 1 - HERO SLIDESHOW */

.section-1__slideshow {
    height: 600px;
    position: relative;
    overflow: hidden;
}
.slide__box {
    display: none;
}

.slide__box--text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 7%;
    text-align: left;
    justify-content: center;
    height: 100%;
}
.slide__box.one {
    background-image: url('../images/saebe.webp');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide__box.one h1 {
    color: #F1EDE6;
}

.slide__box.one h2 {
    color: #F1EDE6;
}
.slide__box.two {
    background-image: url('../images/blomst.webp');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide__box.three {
    background-image: url('../generated_images/godte_lille.webp');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide__box.three h1 {
    color: #F1EDE6;
}

.slide__box.three h2 {
    color: #F1EDE6;
}
.prev, .next {
    display: none;
}

.dot__container {
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 7%;
    left: 43%;
}
.dot {
    height: 24px;
    width: 24px;
    margin: 0 2px;
    background-color: #F1EDE6;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #C0B283;
}

.dot.active {
    background-color: #465048;
    border: 2px solid #C0B283;
}

.pause-btn {
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 10;
    padding: 10px 20px;
    font-size: 30px;
    background-color: #465048;
    color: #C0B283;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* SECTION 2 - INFO CARD */

.section-2__info-box {
    padding: 20% 7%;
}

.section-2__info-box__card {
    background-color: #fff;
    padding: 7%;
    border: 2px solid #C0B283;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-2__info-box__heading,
.section-5__info-box__heading,
.section-6__info-box__heading,
.section-7__review__heading,
.section-8__faq__heading {
    margin-bottom: 5px;
}

.section-2__info-box__subheading,
.section-5__info-box__subheading,
.section-6__info-box__subheading,
.section-7__review__subheading,
.section-8__faq__subheading {
    margin-bottom: 30px;
}

.section-2__info-box__text:first-of-type,
.section-5__info-box__text,
.section-6__info-box__text,
.section-8__faq__text:first-of-type {
    margin-bottom: 30px;
}

/* SECTION-3 - POPULAR CATEGORIES */

.section-3__popular-categories {
    padding: 0% 7% 20% 7%;
}

.section-3__popular-categories__titles {
    margin-bottom: 25px;
}

.section-3__popular-categories__heading {
    margin-bottom: 5px;
}

.section-3__popular-categories__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 15px;
}

.section-3__popular-categories__link-cards {
    width: 30%;
    gap: 10%;
    text-align: center;
}

.section-3__popular-categories__link-cards a {
    color: #465048;
    text-decoration: none;
    font-size: 15px;
}

.section-3__popular-categories__link-cards--individuals {
    border: 2px solid #C0B283;
    background-color: #465048;
    overflow: hidden;

    border-radius: 100%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;

    margin-bottom: 10%;
}

.section-3__popular-categories__link-cards--individuals img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* SECTION 4 - BUILD YOUR GIFT BASKET */

.section-4__design-din-kurv__background-image {
    background-image: url('../images/design_din_egen.webp');
    height: 750px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    padding-bottom: 20%;

}

.section-4__design-din-kurv__info-box {
    background-color: #F1EDE6;
    text-decoration: none;
    
    border: 2px solid #C0B283;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    border-left: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 90%;
    height: 120px;
    padding: 5%;
}

.section-4__design-din-kurv__info-box__titles {
    color: #465048;
    margin-right: 5%;
}

.section-4__design-din-kurv__info-box__triangle{
    width: 15px;
    height: 15px;
    rotate: 90deg;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent; 
    border-bottom: 20px solid #C0B283;
}


.section-4__design-din-kurv__info-box__titles h2 {
    margin-bottom: 5px;
}

/* SECTION 5 & 6 - INFO BOX */

.section-5__info-box__image,
.section-6__info-box__image {
    width: 20%;
}

.section-5__info-box {
    padding: 20% 7%;
}

.section-6__info-box {
    padding: 0% 7% 20% 7%;
}


.section-5__info-box__card,
.section-6__info-box__card {
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-5__info-box__image-box,
.section-6__info-box__image-box {
    height: 300px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #465048;
    background-image: url('../images/farsdag.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-6__info-box__image-box {
    background-image: url('../generated_images/medarbejder_mellem.webp');
}

.section-5__info-box__info,
.section-6__info-box__info {
    padding: 7%;
}

.section-5__info-box__info a,
.section-6__info-box__info a {
    margin-right: auto;
    margin-left: auto;
}

/* SECTION 7 - REVIEWS */

.section-7__review-wrapper {
     padding: 0% 7% 0% 7%;
}

.section-7__review__overflow-box {
    width: 100%;
    height: 360px;
    padding: 0% 7%;

    display: flex;
    justify-content: space-between;
    gap: 7%;

    overflow-y: auto;

    /* Below this comment you will see how we hide our scrollbar
    on the review-cards*/
    
    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer 10+ */
    -ms-overflow-style: none;     
}

/* Hiding scrollbar on Chrome, Safari and Opera */
.section-7__review__overflow-box::-webkit-scrollbar {
  display: none;
}

.section-7__review__card {
    width: 330px;
    height: 90%;
    padding: 25px;
    flex: 0 0 auto;

    border-radius: 7px;
    border: 2px solid #C0B283;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-7__review__rating-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7%;
}

.section-7__review__rating-box img {
    width: 30px;
}

.section-7__review__text{
    font-style: italic;
    text-align: justify;
}


.section-7__review__text:first-of-type {
    margin-bottom: 7%;
    margin-top: 7%;
}

/* SECTION 8 - FAQ */

.section-8__faq {
    padding: 15% 7% 20% 7%;
}

.section-8__faq__question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 3% 25px 0%;
    border-bottom: 1px solid #C0B283;
}

.section-8__faq__question__text {
    padding: 7%;
    display: none;
}

.section-8__faq__triangle{
    width: 15px;
    height: 15px;
    rotate: 180deg;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent; 
    border-bottom: 18px solid #C0B283;
}

/* SECTION 9 - NEWSLETTER */

.section-9__newsletter {
    padding: 0% 7% 20% 7%;
}

.section-9__newsletter__card {
    background-color: #fff;
    padding: 7%;
    border: 2px solid #C0B283;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-9__newsletter__title {
    margin-bottom: 30px;
}

.section-9__newsletter__text {
    margin-bottom: 30px;
}

.section-9__newsletter__form__label {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    color: #465048;
    line-height: 24px;
}

.section-9__newsletter__form__input--email {
    height: 35px;
    width: 80%;
    border: 2px solid #C0B283;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.section-9__newsletter__form__input--submit {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    height: 35px;
    margin-left: 0;
    width: 20%;
    border-radius: 0;
    border: 2px solid #C0B283;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #465048;
    color: #fff;
}

.section-9__newsletter__form__input-wrapper {
    display: flex;
    margin-top: 10px;
}

/* FOOTER */

.footer__top {
    padding: 7% 14%;
    height: 150px;
    background-color: #465048;
    border-top: 2px solid #C0B283;
    border-bottom: 2px solid #C0B283;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.footer__top__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.footer__top__icon-img {
    width: 50px;
}

.footer__top__icon-text {
    color: #fff;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.footer__bottom {
    padding: 14% 7%;
    background-color: #465048;
}

.footer__bottom__info-box {
    margin-bottom: 30px;
}

.footer__bottom__info-box li {
    list-style-type: none;
    margin-bottom: 2%;
    
}

.footer__bottom__info-box li a,
.footer__bottom__info-box li,
.footer__bottom__icons p {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    text-decoration: none;
}

.footer__bottom__info-box li a:hover {
    color: #C0B283;
    text-decoration: underline;
}

.footer__bottom__text--bolder {
    font-weight: 500;
}

.footer__bottom__icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__bottom__icons-img,
.footer__bottom__icons-img--facebook {
    aspect-ratio: 1 / 1;
    width: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #C0B283;
}

.footer__bottom__icons-img img,
.footer__bottom__icons-img--facebook img {
    width: 35px;

}

/* Since facebooks icon is tilted to the side, we
must style the element specifically so it looks centered */
.footer__bottom__icons-img--facebook img {
    margin-left: -3px;
}

.footer__bottom__icons-img--facebook {
    margin-left: 15px;
}

.footer__bottom__logo {
    margin-top: 30px;

}

.footer__bottom__logo img {
    width:55%;
}

.footer__bottom__copyright-section {
    color: #fff;
    border-top: 2px solid #C0B283;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: #465048;
}

.footer__bottom__copyright-section p {
    font-size: 10px;
    color: #fff;
}

.footer__bottom__icons-wrapper {
    display: flex;
}

/* MEDIA QUERY */

@media only screen and (min-width: 768px) {
    h1 {
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 60px;
    }
    
    h2 {
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-size: 30px;
    }
    
    h3{
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-size: 25px;
    }
    
    p{
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        text-align: justify;
    }
    
    .citat {
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: italic;
        font-size: 18px;
    }
    
    .faq {
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 22px;
    }

    /* HEADER */

    .header__search-bar {
        height: 50px;
    }

    .header__search-bar__input {
        width: 80%;
    }

    .header__search-bar__icon {
        width: 20%;
    }



    /* SECTION-3 - POPULAR CATEGORIES */

    .section-3__popular-categories {
        padding: 0% 7% 20% 7%;
    }
    
    .section-3__popular-categories__links {
        gap: 20px;
    }
    
    .section-3__popular-categories__link-cards {
        width: 30%;
        gap: 10%;
    }

    .section-3__popular-categories__link-cards--individuals {
        margin-bottom: 7%;
    }

    /* SECTION 7 - REVIEW */

    .section-7__review__overflow-box {
        height: 400px;
    }
}

@media only screen and (min-width: 1240px) {
    
    .cta-btn {
        width: 225px;
    }

    /* HEADER */

    .header__search-bar{
        display: none;
    }

    .header__bottom {
        display: block;
    }
    
    /* SECTION 1 - HERO SLIDESHOW */

    .section-1__slideshow {
        height: 500px;
    }

    .slide__box.one {
        height: 500px;
    }

    .slide__box.two {
        height: 500px;
    }

    .slide__box.three {
        height: 500px;
    }

    .dot__container {
        text-align: center;
        justify-content: center;
        position: absolute;
        bottom: 7%;
        left: 47%;
    }

    /* SECTION 2 - INFO BOX */

    .section-2__info-box {
        padding: 10% 7%;
    }

    .section-2__info-box__card {
        padding: 7% 5%;
    }

    /* SECTION 3 - POPULAR CATEGORIS */

    .section-3__popular-categories {
        padding: 0% 7% 10% 7%;
    }

    .section-3__popular-categories__link-cards {
        width: 15%;
    }

    .section-3__popular-categories__link-cards--individuals {
        margin-bottom: 20px;
    }

    .section-3__popular-categories__link-cards a {
        font-size: 20px;
    }

    /* SECTION 4 - BUILD YOUR GIFT BASKET */

    .section-4__design-din-kurv__background-image {
        padding-bottom: 7%;
        height: 800px;
    }

    /* SECTION 5 & 6 - INFO BOX */

    .section-5__info-box {
        padding: 10% 7%;
    }

    .section-6__info-box {
        padding: 0% 7% 10% 7%;
    }

    .section-5__info-box__card,
    .section-6__info-box__card {
        height: 575px;
        background-color: #fff;
        border: 2px solid #C0B283;
        border-radius: 7px;
        padding: 4%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section-5__info-box__image-box,
    .section-6__info-box__image-box {
        height: 100%;
        width: 50%;
        border-radius: 7px;

        background-color: #465048;
        background-image: url('../images/farsdag.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-6__info-box__image-box {
        background-image: url('../generated_images/medarbejder_mellem.webp');
    }

    .section-5__info-box__info,
    .section-6__info-box__info {
        width: 50%;
        padding: 4%;
    }

    .section-5__info-box__info a,
    .section-6__info-box__info a {
        margin-right: 0;
        margin-left: 0;
    }

    /* SECTION 7 - REVIEWS */

    
    .section-7__review__overflow-box {
        width: 100%;
        height: 460px;
        padding: 0% 7%;

        display: flex;
        justify-content: space-between;
        gap: 4%;

        overflow-y: auto;

        /* Below this comment you will see how we hide our scrollbar
        on the review-cards*/
        
        /* Firefox */
        scrollbar-width: none;

        /* Internet Explorer 10+ */
        -ms-overflow-style: none;     
    }

    /* Hiding scrollbar on Chrome, Safari and Opera */
    .section-7__review__overflow-box::-webkit-scrollbar {
        display: none;
    }

    .section-7__review__card {
        width: 380px;
        height: 90%;
        padding: 35px;
        flex: 0 0 auto;

        border-radius: 7px;
        border: 2px solid #C0B283;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /* SECTION 8 - FAQ */

    .section-8__faq {
        padding: 5% 7% 10% 7%;
    }

    /* SECTION 9 - NEWSLETTER */

    .section-9__newsletter {
        padding: 0% 7% 10% 7%;
    }

    /* FOOTER */
    .footer__bottom {
        padding: 10% 5%;
        background-color: #465048;
    }

    .footer__bottom__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footer__bottom__info-box {
        margin-bottom: 0;
    }

    .footer__bottom__info-box li {
        margin-bottom: 15px;
    }

    
    .footer__bottom__icons-img,
    .footer__bottom__icons-img--facebook {
        aspect-ratio: 1 / 1;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #C0B283;
    }
    
    .footer__bottom__icons {
        display: flex;
        flex-direction: column;
    }

    .footer__bottom__icons-wrapper {
        display: flex;
    }

    .footer__bottom__icons-img img,
    .footer__bottom__icons-img--facebook img {
        width: 35px;

    }

    /* Since facebooks icon is tilted to the side, we
    must style the element specifically so it looks centered */
    .footer__bottom__icons-img--facebook img {
        margin-left: -3px;
    }

    .footer__bottom__icons {
        gap: 20px;
    }

    .footer__bottom__logo {
        display: flex;
        flex-direction: row-reverse;
    }

    .footer__bottom__logo img {
        width:20%;
    }
}
