/****** COLORS **********************/
/*
/* dusty_green: #465048;
/*
/* gold: #C0B283;
/*
/* cream: #F8EFE2;
/*
/* Bisque: #F1EDE6;
/*
/***********************************/

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 40px;
    color: #465048;
}

h2 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 24px;
  color: #465048;
}

h3{
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 20px;
  color: #465048;
}

p, a{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    color: #465048;
}

.citat {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    color: #465048;
}

.FAQ {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 16px;
    color: #465048;
}

/* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* EVERYTHING THAT LEADS TO A NEW SITE WILL BE MADE AN ANCHOR-TAG, */
/* IF YOU NEED SOMETHING TO HAPPEN ON CURRENT SITE, USE A BUTTON-TAG */

.cta-btn {
    width: 170px;
    height: 50px;
    border-radius: 7px;
    background-color: #465048;

    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #F1EDE6;

    border: 3px solid #C0B283;
    padding: 12px;
    display: block;
    text-align: center;
}

/* HEADER */

header {
    width: 100%;
    background-color: #465048;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}

.header__logo-type {
    width: 130px;
}

/* SECTION 1 - HERO SLIDESHOW */

.section-1__slideshow {
    background-color: red;
    height: 600px;
}

/* SECTION 2 - INFO CARD */

.section-2__info-box {
    padding: 20% 7%;
}

.section-2__info-box__card {
    background-color: #fff;
    padding: 7%;
    border: 3px solid #C0B283;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-2__info-box__heading {
    margin-bottom: 5px;
}

.section-2__info-box__subheading {
    margin-bottom: 30px;
}

/* SECTION-3 - POPULAR CATEGORIES */

.section-3__popular-categories {
    padding: 0% 7% 20% 7%;
}

.section-3__popular-categories__titles {
    margin-bottom: 25px;
}

.section-3__popular-categories__heading {
    margin-bottom: 5px;
}

.section-3__popular-categories__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 15px;
}

.section-3__popular-categories__link-cards {
    width: 30%;
    gap: 10%;
    text-align: center;
}

.section-3__popular-categories__link-cards a {
    color: #465048;
    text-decoration: none;
    font-size: 15px;
}

.section-3__popular-categories__link-cards--individuals {
    border: 3px solid #C0B283;
    background-color: #465048;
    overflow: hidden;

    border-radius: 100%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;

    margin-bottom: 10%;
}

.section-3__popular-categories__link-cards--individuals img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* SECTION 5 - BYG DIN EGEN GAVEKURV */

.section-4__design-din-kurv {}

.section-4__design-din-kurv__background-image {
    background-color: red;
    height: 600px;

    display: flex;
    align-items: flex-end;
    padding-bottom: 20%;
}

.section-4__design-din-kurv__info-box {
    background-color: #F1EDE6;
    
    border: 3px solid #C0B283;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    border-left: none;
    display: flex;
    align-items: center;
    
    width: 80%;
    height: 120px;
    padding-left: 8%;
}

.section-4__design-din-kurv__info-box__titles {
    color: #465048;
}

.section-4__design-din-kurv__info-box__titles h2 {
    margin-bottom: 5px;
}

.section-4__design-din-kurv__info-box__arrow {}




/* MEDIA QUERY */

@media only screen and (min-width: 768px) {
    h1 {
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-size: 60px;
    }
    
    h2 {
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-size: 30px;
    }
    
    h3{
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-size: 25px;
    }
    
    p{
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 22px;
    }
    
    .citat {
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: italic;
        font-size: 18px;
    }
    
    .FAQ {
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 22px;
    }    
}

@media only screen and (min-width: 1240px) {}
