/****** COLORS **********************/
/*
/* dusty_green: #465048;
/*
/* gold: #C0B283;
/*
/* cream: #F8EFE2;
/*
/* Bisque: ##F1EDE6;
/*
/***********************************/

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 40px;
}

h2 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 24px;
}

h3{
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 20px;
}

p{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
}

.citat {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
}

/* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: #465048;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}

.header__logo-type {
    width: 130px;
}

