.section__my-basket {
    padding: 7%;
}

.section__my-basket__title {
    background-color: #465048;
    border: 2px solid #C0B283;
    border-radius: 7px;
    color: #fff;
    padding: 7%;
    margin-bottom: 7%;
}

.section__my-basket__info {
    border: 2px solid #C0B283;
    border-radius: 7px;
}

.section__my-basket__info--title {
    padding: 7%;
    border-bottom: 2px solid #C0B283;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content--flexbox {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #C0B283;
    padding: 5%;
}

.content--flexbox img {
    margin-right: 5%;
}

.section__my-basket__info--content__wrapper {
    background-color: #F8EFE2;
    border-bottom: 2px solid #C0B283;

    padding: 5%;
}

.section__my-basket__info--content__card {
    display: flex;
    margin-bottom: 5%;
}

.section__my-basket__info--content__card:last-of-type {
    margin-bottom: 0%;
}

.content-container {
    margin-top: auto;
    margin-bottom: auto;
}

.content--product-image--1,
.content--product-image--2,
.content--product-image--3,
.content--product-image--4 {
    width: 100px;
    height: 100px;
    background-color: red;
    
    border: 2px solid #C0B283;
    border-radius: 7px;
    margin-right: 5%;
}

.content--product-image--1 {
    background-image: url('../product_images/speedtsberg_flag.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content--product-image--2 {
    background-image: url('../product_images/lagurus_buket.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content--product-image--3 {
    background-image: url('../product_images/summerbird_lille.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content--product-image--4 {
    margin-bottom: 0;
    background-image: url('../product_images/most_naturfri.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section__my-basket__info--card__title {
    display: flex;
    align-items: center;
    padding: 5%;
}

.section__my-basket__info--card__title img {
    margin-right: 5%;
}

.form-container {
    padding: 5%;
}

.form-container form {
}

.form-container label {
    font-size: 16px;
}

.card-textarea {
    border: 2px solid #C0B283;
    border-radius: 7px;
    width: 100%;
    height: 225px;
    margin-top: 5%;
    margin-bottom: -4px;
    padding: 5%;
    font-style: italic;
}

.card-textarea::placeholder {
    opacity: 75%;
    color: #465048;
}

/*Konfirmanden skrives med tyk
kurvens indhold skrives med tyk,
se kort skal skrives med tyk*/