.bread-crumb-box{
    padding: 7%;
}

.bread-crumbs-bold {
    font-weight: 500;
}

.section__product-search {
    padding: 7%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.section__product-search__title {
    padding: 7%;
    padding-top: 0;
}

.section__product-search-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section__product-search__box,
.section__product-search__box--2 {
    display: flex;
    align-items: center;
    background-color: aqua;
    background-color: #F8EFE2;
    border: 2px solid #C0B283;
    border-radius: 7px;
    padding: 2%;
    width: 49%;
}

.section__product-search__box--2 {
    padding-left: 2.5%;
    padding-right: 2.5%;
    justify-content: space-between;
}

.section__product-search__box p,
.section__product-search__box--2 p {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.section__product-search__box img {
    width: 10%;
    margin-right: 4%;
}

.section__product-search__triangle{
    width: 10px;
    height: 10px;
    rotate: 180deg;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 13px solid #C0B283;
}

/* PRODUCTS */

.section-3__category__products {
    padding: 7%;
}

.section-3__category__products-list-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__giftbasket--product {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    width: 48%;
    overflow: hidden;
    margin-bottom: 4%;
}

.section__giftbasket--product__text-box {
    padding: 5%;
}

.section__giftbasket--product .section__giftbasket--product__text-box p, a {
    font-size: 16px;
    text-decoration: none;

}

.section__giftbasket--product img{
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #C0B283;
}

@media only screen and (min-width: 768px) { 
    /* HERO */

    .section__giftbasket--two__text-box p,
    .section__giftbasket--two__text-box--2 p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 1240px) {
    .bread-crumb-box {
        padding-bottom: 4%;
    }

    .section__product-search__title {
        padding: 4% 7%;
        padding-top: 0;
    }

    .section__giftbasket--product {
        width: 24%;
    }

    .section-3__category__products {
        padding: 7%;
        padding-top: 4%;
    }

    .category .section-5__info-box__heading {
        background-color: #465048;
        border: 2px #C0B283 solid;
        border-radius: 7px;
        color: #fff;
        padding: 5%;
        margin: 0;
    }

    .section__product-search{
        display: flex;
        justify-content: flex-end;
    }

    .section__giftbasket--one {
        width: 33%;
    }

    .section__giftbasket--cards {
        gap: 2%;
    }

    .section__giftbasket--small {
        height: 100%;
        width: 50%;
    }

    .section__giftbasket--small img {
        height: 100%;
    }

    .section__giftbasket--two {
        display: flex;
        flex-direction: row;
        width: 66%;
        gap: 3%;
    }

    .section__giftbasket--two p {
        font-size: 16px;
        line-height: 28px;
    }

    .section__giftbasket-wrapper {
        background-color: #F1EDE6;
        padding: 7%;
    }

    .section__product-search-wrapper {
        width: 50%;
        
    }

    .section__giftbasket--titles h2,
    .section__giftbasket--titles h3 {
        color: #465048;
    }
}