/*ABOUT*/
    /*ABOUT HERO*/
.about:first-of-type {
    padding: 7%;
    padding-bottom: 20%;
}

.about{
    padding: 0% 7% 20% 7%;
}

.about .section-6__info-box {
    padding: 0% 0% 10% 7%;
}

.about .section-6__info-box__card{
    background-color: #465048;
}

.about .section-6__info-box__image-box {
    background-image: url('../images/butik.webp');
}

.about .section-6__info-box__heading {
    color: #F1EDE6;
}

.about .section-2__info-box{
    padding: 10% 7%;
}

    /*ABOUT I*/
.about .section-5__info-box{
    padding: 10% 7%;
}

.about .section-5__info-box__card{
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.about .section-5__info-box__image-box{
    border: 2px solid #C0B283;
    border-radius: 7px;
}

.about .section-5__info-box__info{
    padding: 5% 0%;
}

.about .section-5__info-box__list li {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    color: #465048;
    padding: 1%;
    margin-top: 2%;
}

.about .section-5__info-box__list ul {
    padding-left: 5%;
} 

    /*ABOUT II*/
.lisbeth .section-3__popular-categories__link-cards--individuals{
    width: 50%;
    justify-self: center;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 7%; 
}

/*PRODUCTS*/
    /*PRODUCTS - HERO*/
    
.products .section-6__info-box{
    padding: 0;
}

.products {
    padding: 7%;
    padding-bottom: 20%;
}

.products .section-6__info-box__card {
    background-color: #465048;
}

.products .section-6__info-box__image-box{
    background-image: url('../images/saebe_II.webp');
}

.products .section-6__info-box__heading{
    color: #F1EDE6;
}

.products .section-2__info-box{
    padding: 10% 7%;
}

    /* PRODUCTS - FARS DAG */

.section-7__farsdag {
    margin-bottom: 7%;
    background-color: #F1EDE6;
    padding: 10% 0%;
}

.section-7__farsdag-wrapper {
    padding: 0% 7% 3% 7%;
}

.section-7__farsdag.special {
    margin-bottom: 0;
    }

.section-7__farsdag__overflow-box {
    width: 100%;
    height: 400px;
    padding: 0% 7%;

    display: flex;
    justify-content: space-between;
    gap: 3%;

    overflow-y: auto;

    /* Below this comment you will see how we hide our scrollbar
    on the review-cards*/
    
    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer 10+ */
    -ms-overflow-style: none;     
}
    /* Hiding scrollbar on Chrome, Safari and Opera */
.section-7__farsdag__overflow-box::-webkit-scrollbar {
  display: none;
}

.section-7__farsdag__card {
    width: 250px;
    height: 100%;
    padding: 0;
    flex: 0 0 auto;

    text-decoration: none;

    border-radius: 7px;
    border: 2px solid #C0B283;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}
.section-7__farsdag__img-box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 75%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    margin-bottom: 5%;
}
.section-7__farsdag__img-box img{
    border-bottom: 2px #C0B283 solid;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.section-7__farsdag__text {
    padding-left: 25px;
}

/*BRANDS*/

.section-7__brands-wrapper {
     padding: 0% 7% 3% 7%;
}

.section-7__brands__overflow-box {
    width: 100%;
    height: 520px;
    padding: 0% 7%;
    margin-bottom: 5%;

    display: flex;
    justify-content: space-between;
    gap: 3%;

    overflow-y: auto;

    /* Below this comment you will see how we hide our scrollbar
    on the review-cards*/
    
    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer 10+ */
    -ms-overflow-style: none;     
}

/* Hiding scrollbar on Chrome, Safari and Opera */
.section-7__brands__overflow-box::-webkit-scrollbar {
  display: none;
}

.section-7__brands__card {
    width: 330px;
    height: 90%;
    padding: 0%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #465048;

    border: 2px #C0B283 solid;
    border-radius: 7px;
    overflow: hidden;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-7__brands__img-box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
}

.section-7__brands__img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-bottom: 2px #C0B283 solid;
}

.section-7__brands__text{
    color: #F1EDE6;
    padding: 7%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-7__brands__text a{
    color: #F1EDE6;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
}

.section-4__brands__triangle{
    width: 10px;
    height: 10px;
    rotate: 90deg;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 15px solid #C0B283;
}

/* GIFT BASKET */
    /* HERO */
.gift-basket .section-6__info-box__image-box {
    background-image: url('../images/gavekurv_design.webp');
}

    /* FARS DAG */
.gift-basket .section-5__info-box__card{
    background-color: #465048;
    border: none;
    box-shadow: none;
}
.gift-basket .section-5__info-box__heading {
    color: #F1EDE6;
    font-size: 100px; 
}
.gift-basket .section-5__info-box__subheading {
    color: #F1EDE6;
    margin-bottom: 2%;
}
.gift-basket .section-5__info-box__text {
    color: #F1EDE6;
}

    /*GAVEKURVE _ CARDS*/
.section__giftbasket-wrapper {
    padding: 7%;
}

.section__giftbasket--titles {
    margin-bottom: 7%;
}


.section__giftbasket--cards {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.section__giftbasket--one {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    width: 60%;
    overflow: hidden;
}

.section__giftbasket--one__text-box,
.section__giftbasket--two__text-box {
    padding: 5%;
}

.section__giftbasket--one p {
    font-size: 16px;
}

.section__giftbasket--one img{
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #C0B283;
}

.section__giftbasket--two {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 4%;
}

.section__giftbasket--two p {
    font-size: 10px;
    line-height: normal;
}

.section__giftbasket--small {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    height: 50%;
}

.section__giftbasket--small img {
    height: 100%;
    object-fit: cover;
    
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid #C0B283;
}


@media only screen and (min-width: 768px) {
/*ABOUT*/ 

    .about:first-of-type{
        padding-bottom: 14%;
    }

    .about {
        padding-bottom: 14%;
    }

    /*ABOUT I*/
    .about .section-5__info-box{
        padding-top: 0;
    }

    .about .section-5__info-box__card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .about .section-5__info-box__image-box{
        display: flex;
        width: 40%;
        height: 500px;
    }

    .about .section-5__info-box__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0% 7%;
        width: 60%;
    }

    /*ABOUT II*/
    .lisbeth .section-6__info-box__card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 5%;
        padding: 5%;
    }

    .lisbeth .section-3__popular-categories__link-cards--individuals{
    display:flex;
    justify-self: center;
    align-self: center;

    width: 50%;
    height: 432px;
    border-radius: 10px;
    aspect-ratio: 0;
    margin: 0;
    }

    .lisbeth .section-3__popular-categories__link-cards--individuals img {
        width: 100%;
    }

    .lisbeth .section-6__info-box__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0;
    }

    .lisbeth .section-6__info-box {
        padding-bottom: 14%;
    }
    
/*PRODUCTS*/
    .products {
        padding: 7%;
        padding-bottom: 14%;
    }

    .products .section-6__info-box{
        width: 100%;
        padding: 0%;
    }

    .section-7__farsdag {
    padding: 4% 0%;
}

    .products .section-6__info-box__image-box{
        height: 400px;
    }

    .products .section-6__info-box__info{
        height: 120px;
        padding: 4%;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .special {
    margin-bottom: 0;
    }
    
   .products .section-6__info-box__heading{
        justify-self: center;
        align-self: center;
    }

    .section-3__popular-categories {
        padding: 0% 7% 7% 7%;
    }

    .section-7__farsdag__card {
        height: 100%;
    }

    .section-7__farsdag__text-box {
        margin-top: auto;
        margin-bottom: auto;
    }

    .section-7__farsdag__img-box {
        margin-bottom: 3%;
    }
}

@media only screen and (min-width: 1240px) {
/* ABOUT */

    .about .section-5__info-box__card {
        padding: 0;
    }

    .about {
        padding-bottom: 14%;
    }

    .about:first-of-type {
        padding: 0;
    }
    
    .about .section-5__info-box__card {
        height: 500px;
    }

    .lisbeth {
        padding-bottom: 14%;
    }

    .about .section-6__info-box__card {
        background-color: #fff;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    .about .section-6__info-box__info {
        background-image: url('../images/blomst.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        padding: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about .section-6__info-box__heading {
        opacity: 100%;
        color: #465048;
        font-size: 60px;
    }

    .about .section-6__info-box__card {
        display: block;
        height: 100%;
        margin-bottom: 14%;
    }

/*PRODUCTS*/
    .products .section-6__info-box__card {
        background-color: #fff;
        padding: 0;
        border: none;
        box-shadow: none;
    }
    
    .section-6__info-box__image-box{
        display: none;
    }

    .products .section-6__info-box__info {
        background-image: url('../images/baggrund_product.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        padding: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .products .section-6__info-box__heading {
        opacity: 100%;
        color: #465048;
        font-size: 60px;
    }
    
    .products .section-6__info-box__card {
        display: block;
        height: 100%;
        margin-bottom: 7%;
    }

    .products {
        padding: 0;
    }
}