/*ABOUT*/
    /*ABOUT HERO*/
.about .section-6__info-box {
    padding: 10% 7%;
}
.about .section-6__info-box__card{
    background-color: #465048;
}
.about .section-6__info-box__image-box {
    background-image: url('../images/butik.webp');
}
.about .section-6__info-box__heading {
    color: #F1EDE6;
}
.about .section-2__info-box{
    padding: 10% 7%;
}

    /*ABOUT I*/
.about .section-5__info-box{
    padding: 10% 7%;
}
.about .section-5__info-box__card{
    border: none;
    border-radius: none;
    box-shadow: none;
}
.about .section-5__info-box__image-box{
    border: 3px solid #C0B283;
    border-radius: 7px;
}
.about .section-5__info-box__info{
    padding: 5% 0%;
}
.about .section-5__info-box__list li {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    color: #465048;
    padding: 1%;
    margin-top: 2%;
}
.about .section-5__info-box__list ul {
    padding-left: 5%;
} 

    /*ABOUT II*/
.lisbeth .section-3__popular-categories__link-cards--individuals{
    width: 50%;
    justify-self: center;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 7%; 
}

/*PRODUCTS*/
    /*PRODUCTS - HERO*/
.products .section-6__info-box{
    padding: 10% 7%;
}
.products .section-6__info-box__card {
    background-color: #465048;
}
.products .section-6__info-box__image-box{
    background-image: url('../images/saebe_II.webp');
}
.products .section-6__info-box__heading{
    color: #F1EDE6;
}
.products .section-2__info-box{
    padding: 10% 7%;
}

    /* PRODUCTS - FARS DAG */
.section-7__farsdag-wrapper {
     padding: 5% 7% 3% 7%;
}
.section-7__farsdag__overflow-box {
    width: 100%;
    height: 450px;
    padding: 0% 7%;

    display: flex;
    justify-content: space-between;
    gap: 7%;

    overflow-y: auto;

    /* Below this comment you will see how we hide our scrollbar
    on the review-cards*/
    
    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer 10+ */
    -ms-overflow-style: none;     
}
    /* Hiding scrollbar on Chrome, Safari and Opera */
.section-7__farsdag__overflow-box::-webkit-scrollbar {
  display: none;
}
.section-7__farsdag__card {
    width: 330px;
    height: 90%;
    padding: 0;
    flex: 0 0 auto;

    border-radius: 7px;
    border: 3px solid #C0B283;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-7__farsdag__img-box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 75%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    margin-bottom: 5%;
}
.section-7__farsdag__img-box img{
   color: #C0B283;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.section-7__farsdag__text {
    padding-left: 25px;
}


/*BRANDS*/
.section-7__brands-wrapper {
     padding: 5% 7% 3% 7%;
}
.section-7__brands__overflow-box {
    width: 100%;
    height: 520px;
    padding: 0% 7%;

    display: flex;
    justify-content: space-between;
    gap: 7%;

    overflow-y: auto;

    /* Below this comment you will see how we hide our scrollbar
    on the review-cards*/
    
    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer 10+ */
    -ms-overflow-style: none;     
}

/* Hiding scrollbar on Chrome, Safari and Opera */
.section-7__brands__overflow-box::-webkit-scrollbar {
  display: none;
}
.section-7__brands__card {
    width: 330px;
    height: 90%;
    padding: 0%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #465048;

    border-radius: 7px;
    border: none;
    overflow: hidden;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-7__brands__img-box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
}
.section-7__brands__img-box img{
    color: #C0B283;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.section-7__brands__text{
    color: #F1EDE6;
    padding-left: 25px;
    margin-top: 50px;
}
.section-7__brands__text p{
    color: #F1EDE6;
    font-size: 28px;
    font-weight: 400;
}

/* GIFT BASKET */
    /* HERO */
.gift-basket .section-6__info-box__image-box {
    background-image: url('../images/gavekurv_design.webp');
}


.gift-basket .section-5__info-box__card{
    background-color: #465048;
    border: none;
}
.gift-basket .section-5__info-box__image-box 
.gift-basket .section-5__info-box__info

.gift-basket .section-5__info-box__heading {
    color: #F1EDE6;
    font-size: 100px; 
}
.gift-basket .section-5__info-box__subheading {
    color: #F1EDE6;
}
.gift-basket .section-5__info-box__text {
    color: #F1EDE6;
}

    /*GAVEKURVE _ CARDS*/
.section__giftbasket {
    padding: 5% 7%;
}
.section__giftbasket--titles {
    padding: 7% 0%;
}
.section__giftbasket--cards {
    display: flex;
    flex: row;
    gap: 5%;
    height: 400px;
}
.section__giftbasket--one {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.section__giftbasket--one p {
    padding: 7% 0% 0% 7%;
    font-size: 16px;
    line-height: 20px;
}

.section__giftbasket--one img{
    height: 75%;
    object-fit: cover;
}
.section__giftbasket--two {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 5%;
}

.section__giftbasket--two p {
    font-size: 10px;
    line-height: 12px;
    padding: 5% 7% 5% 7%;
}
.section__giftbasket--small {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #C0B283;
    border-radius: 7px;
    height: 47.5%;
}

.section__giftbasket--small img {
    height: 75%;
    object-fit: cover;
}
@media only screen and (min-width: 768px) {
/*ABOUT*/    
    /*ABOUT HERO*/
    .about .section-6__info-box{
        padding: 0%;
        width: 100%;
    }
    .about .section-6__info-box__image-box{
        display: none;
    }
    .about .section-6__info-box__info{
        height: 150px;
        background-image: url('../images/lys.webp');
        background-position: center;
        background-repeat: no-repeat;
    }
    .about .section-6__info-box__heading{
        justify-self: center;
        align-self: center;
    }

    /*ABOUT I*/
    .about .section-5__info-box{
        padding-top: 0;
    }
    .about .section-5__info-box__card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    .about .section-5__info-box__image-box{
    display: flex;
    width: 40%;
    height: 500px;
    }
    .about .section-5__info-box__info{
        display: flex;
        flex-direction: column;
        padding: 0% 7%;
        width: 60%;
    }

    /*ABOUT II*/
    .lisbeth .section-6__info-box__card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .lisbeth .section-3__popular-categories__link-cards--individuals{
    display:flex;
    width: 40%;
    justify-self: center;
    align-self: center;
    margin-left: 7%;
    border-radius: 5%;
    aspect-ratio: 1 / 1.5;
    margin-bottom: 10%;
    margin-top: 10%;
    }
    .lisbeth .section-6__info-box__info{
    display: flex;
    flex-direction: column;
    width: 60%;
    }

/*PRODUCTS*/
    /*PRODUCTS - HERO*/
    .products .section-6__info-box{
        padding: 0 0 7% 0;
        width: 100%;
    }
    .products .section-6__info-box__image-box{
        display: none;
    }
    .products .section-6__info-box__info{
        height: 150px;
        background-image: url('../images/lys.webp');
        background-position: center;
        background-repeat: no-repeat;
    }
   .products .section-6__info-box__heading{
        justify-self: center;
        align-self: center;
    }

/*GIFT BASKET*/
    /* GIFT BASKET _ HERO*/
    .section-6__info-box__image-box.gift-basket {
    display: none;
    }


}

@media only screen and (min-width: 1240px) {
/* ABOUT */    
    .about .section-5__info-box__image-box{
    width: 50%;
    height: 500px;
    }
    .about .section-5__info-box__info{
        width: 50%;
    }
    .lisbeth .section-3__popular-categories__link-cards--individuals{
        aspect-ratio: 1 / 1;
    }
}